In [1]:
import pandas as pd
import openpyxl as op
import numpy as np
import glob
import os
import math
from pathlib import Path
import datetime as dt

In [ ]:
Brand=['Honda','Nissan','Triumph','Holden']
Model=['CRV','Leaf','Tiger','Barina']
Type=['Car','Car','Moto','Car']
Wheels={'Car':4,'Moto':2}
Price=[23000,43000,23000,9000]

columns=['Brand','Model','Type','Price']
a=zip(Brand,Model,Type,Price)

b=pd.DataFrame(a, columns=columns)

b['Wheels']=b['Type'].map(Wheels)

In [3]:
from jupyter_core.paths import jupyter_config_dir
jupyter_dir = jupyter_config_dir()
jupyter_dir

'C:\\Users\\joao.melo\\.jupyter'

In [ ]:
b[b.Brand.str.contains('ss|de')]

#### Working with Excel

RealPython - A Guide to Excel Spreadsheets in Python With openpyxl - Amazon database example

In [ ]:
wb=op.load_workbook('reviews-sample.xlsx')

In [ ]:
ws=wb.active

In [ ]:
ws['A1'].value

In [ ]:
for value in ws.iter_rows(1,1,values_only=True):
    print(value)

In [ ]:
for value in ws.iter_rows(2,None,4,7, values_only=True):
    print(value)

In [ ]:
import json

In [ ]:
products = {}

for row in ws.iter_rows(2,None,4,7, values_only=True):
    product_id=row[0]
    product = {'parent': row[1],
              'title': row[2],
              'category': row[3]}
    products[product_id] = product

print(json.dumps(products))

In [ ]:
for cell in ws[1]:
    print(cell.value)

In [ ]:
from openpyxl import load_workbook
from datetime import datetime
from classes import Product, Review
from mapping import PRODUCT_ID, PRODUCT_PARENT, PRODUCT_TITLE, PRODUCT_CATEGORY, REVIEW_DATE, REVIEW_ID, \
                    REVIEW_CUSTOMER, REVIEW_STARS, REVIEW_HEADLINE, REVIEW_BODY

wb = load_workbook(filename='reviews-sample.xlsx', read_only=True)
ws = wb.active

products = []
reviews = []

for row in ws.iter_rows(min_row=2, values_only=True):
    product = Product(id=row[PRODUCT_ID], parent=row[PRODUCT_PARENT], title=row[PRODUCT_TITLE], category=row[PRODUCT_CATEGORY] )
    products.append(product)

    spread_date = row[REVIEW_DATE]
    parsed_date = datetime.strptime(spread_date, '%Y-%m-%d')
    
    review = Review(id=row[REVIEW_ID], customer_id=row[REVIEW_CUSTOMER],
                    stars=row[REVIEW_STARS],
                    headline=row[REVIEW_HEADLINE],
                    body=row[REVIEW_BODY],
                    date=parsed_date)
    reviews.append(review)

print(products[0])
print(reviews[0])

In [37]:
c

     0  2  3  4  Xip
1
1    3  4  3  2    1
1    4  3  4  2    2
1    2  2  4  4    4
1    1  4  1  2    2
Xop  2  4  4  2    3
3    1  3  4  3    3

In [41]:
c.ne(3)

         0      2      3      4    Xip
1
1    False   True  False   True   True
1     True  False   True   True   True
1     True   True   True   True   True
1     True   True   True   True   True
Xop   True   True   True   True  False
3     True  False   True  False  False